
  input {
   margin-bottom: 5px;
  }
  ul{
    margin-top: 40px;
  }
  li{
    color:#007bff;
  }
.container{
  margin-top: 10px;
}

.main-div{
  display: flex;
   flex-direction: row;
}
.div-left{
  width: 400px;
}
.jumbotron h3 {
  margin-right: 8px;
  text-align: center;
}
.jumbotron p {
  margin-top: 8px;
  text-align: center;
}
.jumbotron{
  padding: 0 10px;
  margin-bottom: 30px;
  width: 700px;
}
.alert-danger{
  padding: 0 10px;
  margin-left: 5px;
  margin-top: 7px;
}

.list-group {
  padding: 3px;
  border: 1px solid;
  height: 130px;
  overflow-y:auto;
  width: 200px;
  margin-bottom: 0px;
  background-color: #007bff;
    border-color: #007bff;
}

.list-group-item {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5px;
  padding: 0px;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
